.pimpmy_datePicker{
    padding-left: 1rem;
    margin-bottom: 1rem;
}
.dateLabel{
    margin-right: 1rem;
    font-weight: bold;
}
.dateInput{
    border: none;
    border-bottom: 1px solid #17a2b8;
}